.download {
    /* display: flex;
    width: 90rem;
    padding: 2.25rem 5rem;
    align-items: flex-start;
    gap: 1rem; */
    background-color: #005E9E;
    position: relative;
    margin-top: 13rem;
    margin-bottom: 3.5rem;
    padding-bottom: 1.7rem;
}

.leftSide {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftSide h2 {
    color: #FFF;
    text-align: center;

    /* Bold/40 */
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0.8rem 1rem;
}

.leftSide p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    margin: 0.8rem 1rem;
}

.logoImage {
    display: flex;
}

.manLogo {
    position: absolute;
    top: -73%;
    right: 10rem;
    width: 22%;
}

.smallLogo {
    position: absolute;
    top: -63%;
    left: 15rem;
    width: 6.85206rem;
    height: 7.668rem;
    /* transform: rotate(.65deg); */
    flex-shrink: 0;
    opacity: 0.2;
    /* width: 22%; */
}

.logo{
    border-radius: 9px;
    margin: 1rem;
}

@media screen and (max-width: 568px){

    .download {
        /* display: flex;
        width: 90rem;
        padding: 2.25rem 5rem;
        align-items: flex-start;
        gap: 1rem; */
        background-color: #005E9E;
        position: relative;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-bottom: 1.7rem;
    }
    .manLogo{
        position: static;
        width: 50%;
    }
    .smallLogo{
        position: static;
        display: none;
    }

    .leftSide h2 {
        color: #FFF;
        text-align: center;
    
        /* Bold/40 */
        font-family: Montserrat;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0.8rem 1rem;
    }
    
    .leftSide p {
        color: #FFF;
        font-family: Montserrat;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 135%;
        text-align: start;
    }

    .logo{
        border-radius: 9px;
        margin-right: 1rem;
        width: 25vw;
    }
}
